In [312]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt 
%matplotlib inline
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error
import os
import datetime
import math

from google.colab import drive
drive.mount('/content/drive')

In [313]:
#!ls "/content/drive/My Drive/Uni/Msc Comp Science/Year Two/Research/data"

In [314]:
def show_dataframe_info(df):
    print(df.shape)
    print(list(df.columns.values))
    print('\n dataframe info: \n', df.info())
    print('\n dataframe column datatypes:\n', df.dtypes)
    
def calculate_rmse(actual_values,predictions):
    mse= mean_squared_error(actual_values, predictions)
    rmse = np.sqrt(mse)
    return rmse

In [315]:
#airquality_data = pd.read_csv('/content/drive/My Drive/Uni/Msc Comp Science/Year Two/Research/experiments/data/AirQuality/AirQo/Bugolobi(ambrosoli)/bugolobi.csv')

root_data_dir = 'data'
base_dir ='data\AirQuality\AirQo'

#airquality_data = pd.read_csv(os.path.join(base_dir,'Makerere','merged_hourly_airquality_greenness_meteorological_dataset.csv'))
#filepath = os.path.join(base_dir,'Makerere','SelectedFeatures')
#filepath= os.path.join(base_dir,'Makerere','all_features')
#sensor_type = 0

#airquality_data = pd.read_csv(os.path.join(base_dir,'Bugolobi(ambrosoli)','merged_hourly_airquality_greenness_meteorological_dataset.csv'))
#filepath = os.path.join(base_dir,'Bugolobi(ambrosoli)','SelectedFeatures')
#filepath= os.path.join(base_dir,'Bugolobi(ambrosoli)','all_features')
#sensor_type = 0

airquality_data = pd.read_csv(os.path.join(base_dir,'Mulago','merged_hourly_airquality_greenness_meteorological_dataset.csv'))
#filepath= os.path.join(base_dir,'Mulago','SelectedFeatures')
filepath= os.path.join(base_dir,'Mulago','all_features')
sensor_type = 0

#airquality_data = pd.read_csv(os.path.join(base_dir,'Makindye','merged_hourly_airquality_greenness_meteorological_dataset.csv'))
#filepath = os.path.join(base_dir, 'Makindye','SelectedFeatures')
#sensor_type = 0

#airquality_data = pd.read_csv(os.path.join(base_dir,'Bukoto(kisu)','merged_hourly_airquality_greenness_meteorological_dataset.csv'))
#filepath= os.path.join(base_dir,'Bukoto(kisu)', 'SelectedFeatures')
#sensor_type = 0

#airquality_data = pd.read_csv(os.path.join(base_dir,'Lubowa','merged_hourly_airquality_greenness_meteorological_dataset.csv'))
#filepath = os.path.join(base_dir,'Lubowa','SelectedFeatures')
#sensor_type = 0

#airquality_data = pd.read_csv(os.path.join(base_dir,'Jinja_Road(NEMAHOUSE)','merged_hourly_airquality_greenness_meteorological_dataset.csv '))
#filepath = os.path.join(base_dir,'Jinja_Road(NEMAHOUSE)','SelectedFeatures')
#sensor_type = 1

#airquality_data = pd.read_csv(os.path.join(base_dir,'Rubaga_Kabusu','merged_hourly_airquality_greenness_meteorological_dataset.csv'))
#filepath = os.path.join(base_dir,'Rubaga_Kabusu','SelectedFeatures')
#sensor_type = 1

#airquality_data = pd.read_csv(os.path.join(base_dir,'Kireka','merged_hourly_airquality_greenness_meteorological_dataset.csv'))
#filepath = os.path.join(base_dir,'Kireka','SelectedFeatures')
#sensor_type = 1

#airquality_data = pd.read_csv(os.path.join(base_dir, 'Nsambya(American_Embassy)','merged_hourly_airquality_greenness_meteorological_dataset.csv '))
#filepath = os.path.join(base_dir, 'Nsambya(American_Embassy)','SelectedFeatures')
#sensor_type = 2

airquality_data.head(10)

,TimeStamp,PM1(Ug/m3),PM2.5(Ug/m3),PM10(Ug/m3),hour,EVI,NDVI,humidity (%),precipitation (mm),pressure (kPa),...,temperature (oC),windspeed (m/s),winddirection_E,winddirection_N,winddirection_NE,winddirection_NW,winddirection_S,winddirection_SE,winddirection_SW,winddirection_W
0,2017-09-09 18:00:00,11.27,15.52,40.13,18,0.2245,0.3999,73,0.0,87.50,...,23.27,0.44,0,0,0,0,0,1,0,0
1,2017-09-09 19:00:00,14.87,20.51,54.50,19,0.2245,0.3999,77,0.0,87.58,...,22.72,0.38,0,0,1,0,0,0,0,0
2,2017-09-09 20:00:00,20.77,29.18,70.89,20,0.2245,0.3999,80,0.0,87.67,...,22.29,0.37,0,0,0,0,0,1,0,0
3,2017-09-09 21:00:00,22.54,31.99,81.10,21,0.2245,0.3999,82,0.0,87.66,...,21.71,0.34,0,1,0,0,0,0,0,0
4,2017-09-09 22:00:00,22.37,31.85,78.94,22,0.2245,0.3999,87,0.0,87.68,...,20.86,0.29,0,0,1,0,0,0,0,0
5,2017-09-09 23:00:00,23.46,32.23,74.90,23,0.2245,0.3999,90,0.0,87.77,...,20.30,0.46,0,0,0,0,0,1,0,0
6,2017-09-10 00:00:00,23.61,32.53,67.31,0,0.2245,0.3999,91,0.0,87.74,...,20.30,0.59,0,0,0,0,0,1,0,0
7,2017-09-10 01:00:00,21.78,29.90,56.56,1,0.2245,0.3999,91,0.0,87.67,...,20.14,0.99,0,0,0,0,0,1,0,0
8,2017-09-10 02:00:00,18.13,24.95,45.56,2,0.2245,0.3999,89,0.0,87.63,...,20.15,1.19,0,0,0,0,0,1,0,0
9,2017-09-10 03:00:00,15.81,21.78,38.09,3,0.2245,0.3999,89,0.0,87.59,...,19.78,0.69,1,0,0,0,0,0,0,0

In [316]:
airquality_data_copy = airquality_data.copy()
airquality_data["TimeStamp"] = pd.to_datetime(airquality_data["TimeStamp"])
airquality_data = airquality_data.set_index('TimeStamp')

if sensor_type == 0:
    airquality_data_for_selected_features = airquality_data.drop(['hour', 'EVI', 'NDVI',
       'humidity (%)', 'precipitation (mm)', 'pressure (kPa)',
       'radiation (W/m2)', 'windspeed (m/s)',
       'winddirection_E', 'winddirection_N', 'winddirection_NE',
       'winddirection_NW', 'winddirection_S', 'winddirection_SE',
       'winddirection_SW', 'winddirection_W','temperature (oC)','PM1(Ug/m3)','PM10(Ug/m3)'], axis=1)
    
elif sensor_type == 1:
    airquality_data_for_selected_features = airquality_data.drop(['hour', 'EVI', 'NDVI',
       'humidity (%)', 'precipitation (mm)', 'pressure (kPa)',
       'radiation (W/m2)', 'windspeed (m/s)',
       'winddirection_E', 'winddirection_N', 'winddirection_NE',
       'winddirection_NW', 'winddirection_S', 'winddirection_SE',
       'winddirection_SW', 'winddirection_W','temperature (oC)','PM10(Ug/m3)'], axis=1)
    
elif sensor_type == 2:
    airquality_data_for_selected_features = airquality_data.drop(['hour', 'EVI', 'NDVI',
       'humidity (%)', 'precipitation (mm)', 'pressure (kPa)',
       'radiation (W/m2)', 'windspeed (m/s)',
       'winddirection_E', 'winddirection_N', 'winddirection_NE',
       'winddirection_NW', 'winddirection_S', 'winddirection_SE',
       'winddirection_SW', 'winddirection_W','temperature (oC)'], axis=1)
    
#temperature

### considering  all features

In [317]:
 airquality_data_for_selected_features = airquality_data

In [318]:
airquality_data_for_selected_features.head()

,PM1(Ug/m3),PM2.5(Ug/m3),PM10(Ug/m3),hour,EVI,NDVI,humidity (%),precipitation (mm),pressure (kPa),radiation (W/m2),temperature (oC),windspeed (m/s),winddirection_E,winddirection_N,winddirection_NE,winddirection_NW,winddirection_S,winddirection_SE,winddirection_SW,winddirection_W
TimeStamp,,,,,,,,,,,,,,,,,,,,
2017-09-09 18:00:00,11.27,15.52,40.13,18,0.2245,0.3999,73,0.0,87.50,0.9,23.27,0.44,0,0,0,0,0,1,0,0
2017-09-09 19:00:00,14.87,20.51,54.50,19,0.2245,0.3999,77,0.0,87.58,0.0,22.72,0.38,0,0,1,0,0,0,0,0
2017-09-09 20:00:00,20.77,29.18,70.89,20,0.2245,0.3999,80,0.0,87.67,0.0,22.29,0.37,0,0,0,0,0,1,0,0
2017-09-09 21:00:00,22.54,31.99,81.10,21,0.2245,0.3999,82,0.0,87.66,0.0,21.71,0.34,0,1,0,0,0,0,0,0
2017-09-09 22:00:00,22.37,31.85,78.94,22,0.2245,0.3999,87,0.0,87.68,0.0,20.86,0.29,0,0,1,0,0,0,0,0

In [319]:
airquality_data_for_selected_features.tail()

,PM1(Ug/m3),PM2.5(Ug/m3),PM10(Ug/m3),hour,EVI,NDVI,humidity (%),precipitation (mm),pressure (kPa),radiation (W/m2),temperature (oC),windspeed (m/s),winddirection_E,winddirection_N,winddirection_NE,winddirection_NW,winddirection_S,winddirection_SE,winddirection_SW,winddirection_W
TimeStamp,,,,,,,,,,,,,,,,,,,,
2019-03-11 14:00:00,3.72,5.39,17.75,14,0.2073,0.3637,49,0.0,87.64,476.83,28.41,0.50,0,1,0,0,0,0,0,0
2019-03-11 15:00:00,3.30,4.78,13.96,15,0.2073,0.3637,45,0.0,87.55,667.62,29.34,0.94,0,0,0,0,0,0,1,0
2019-03-11 16:00:00,3.14,4.59,12.44,16,0.2073,0.3637,49,0.0,87.50,525.28,28.69,1.09,0,0,0,0,1,0,0,0
2019-03-11 17:00:00,3.62,5.13,13.06,17,0.2073,0.3637,52,0.0,87.51,305.62,27.42,1.19,0,0,0,0,1,0,0,0
2019-03-11 18:00:00,2.94,4.47,11.57,18,0.2073,0.3637,59,0.0,87.52,75.15,26.14,0.83,0,0,0,0,1,0,0,0

In [320]:
show_dataframe_info(airquality_data_for_selected_features)

(12000, 20)
['PM1(Ug/m3)', 'PM2.5(Ug/m3)', 'PM10(Ug/m3)', 'hour', 'EVI', 'NDVI', 'humidity (%)', 'precipitation (mm)', 'pressure (kPa)', 'radiation (W/m2)', 'temperature (oC)', 'windspeed (m/s)', 'winddirection_E', 'winddirection_N', 'winddirection_NE', 'winddirection_NW', 'winddirection_S', 'winddirection_SE', 'winddirection_SW', 'winddirection_W']
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12000 entries, 2017-09-09 18:00:00 to 2019-03-11 18:00:00
Data columns (total 20 columns):
PM1(Ug/m3)            12000 non-null float64
PM2.5(Ug/m3)          12000 non-null float64
PM10(Ug/m3)           12000 non-null float64
hour                  12000 non-null int64
EVI                   12000 non-null float64
NDVI                  12000 non-null float64
humidity (%)          12000 non-null int64
precipitation (mm)    12000 non-null float64
pressure (kPa)        12000 non-null float64
radiation (W/m2)      12000 non-null float64
temperature (oC)      12000 non-null float64
windspeed (m/s)       12000 non-null float64
winddirection_E       12000 non-null int64
winddirection_N       12000 non-null int64
winddirection_NE      12000 non-null int64
winddirection_NW      12000 non-null int64
winddirection_S       12000 non-null int64
winddirection_SE      12000 non-null int64
winddirection_SW      12000 non-null int64
winddirection_W       12000 non-null int64
dtypes: float64(10), int64(10)
memory usage: 1.9 MB

 dataframe info:
 None

 dataframe column datatypes:
 PM1(Ug/m3)            float64
PM2.5(Ug/m3)          float64
PM10(Ug/m3)           float64
hour                    int64
EVI                   float64
NDVI                  float64
humidity (%)            int64
precipitation (mm)    float64
pressure (kPa)        float64
radiation (W/m2)      float64
temperature (oC)      float64
windspeed (m/s)       float64
winddirection_E         int64
winddirection_N         int64
winddirection_NE        int64
winddirection_NW        int64
winddirection_S         int64
winddirection_SE        int64
winddirection_SW        int64
winddirection_W         int64
dtype: object

In [321]:
airquality_data_for_selected_features.describe()

,PM1(Ug/m3),PM2.5(Ug/m3),PM10(Ug/m3),hour,EVI,NDVI,humidity (%),precipitation (mm),pressure (kPa),radiation (W/m2),temperature (oC),windspeed (m/s),winddirection_E,winddirection_N,winddirection_NE,winddirection_NW,winddirection_S,winddirection_SE,winddirection_SW,winddirection_W
count,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000,12000.000000
mean,13.540177,18.835673,43.560323,11.496000,0.234250,0.409090,-107.744667,0.132941,87.678892,154.812255,22.495915,-105.679550,0.102583,0.062417,0.071167,0.098250,0.211917,0.225083,0.125000,0.103583
std,7.964570,10.838085,24.116789,6.921607,0.048602,0.067086,1357.983267,1.229351,0.182687,229.215247,3.442575,1027.211358,0.303427,0.241921,0.257114,0.297665,0.408683,0.417655,0.330733,0.304732
min,0.000000,0.010000,0.010000,0.000000,0.157100,0.283200,-9998.000000,0.000000,87.060000,0.000000,15.470000,-9998.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7.530000,10.380000,26.580000,5.000000,0.207300,0.363700,66.000000,0.000000,87.550000,0.000000,19.810000,0.480000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,14.090000,19.480000,38.090000,11.000000,0.224500,0.400800,82.000000,0.000000,87.680000,3.515000,21.480000,0.710000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,18.822500,26.260000,56.560000,17.000000,0.262600,0.430900,91.000000,0.000000,87.810000,269.300000,25.050000,1.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,140.010000,172.250000,415.160000,23.000000,0.330400,0.548200,100.000000,46.230000,88.200000,1049.080000,33.370000,36.910000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Separate Features From the Target

In [322]:
airquality_data_for_selected_features.columns

Index(['PM1(Ug/m3)', 'PM2.5(Ug/m3)', 'PM10(Ug/m3)', 'hour', 'EVI', 'NDVI',
       'humidity (%)', 'precipitation (mm)', 'pressure (kPa)',
       'radiation (W/m2)', 'temperature (oC)', 'windspeed (m/s)',
       'winddirection_E', 'winddirection_N', 'winddirection_NE',
       'winddirection_NW', 'winddirection_S', 'winddirection_SE',
       'winddirection_SW', 'winddirection_W'],
      dtype='object')

In [323]:
airquality_data_for_selected_features_copy = airquality_data_for_selected_features.copy()

In [324]:
airquality_data_for_selected_features = airquality_data_for_selected_features.values


### separate test dataset from training dataset and validation dataset
- separate data on 70/10/20 training/validation/testing

In [325]:
training_data_length = math.floor(len(airquality_data_for_selected_features)* 0.7)
print(training_data_length)

validation_data_length = math.floor(len(airquality_data_for_selected_features)*0.1)
print(validation_data_length)

testing_data_length = math.floor(len(airquality_data_for_selected_features)* 0.2)
print(testing_data_length)

print(str(training_data_length + validation_data_length + testing_data_length ))

8400
1200
2400
12000

In [326]:
training_data = airquality_data_for_selected_features[0:training_data_length,:]
print(training_data.shape)

validation_data = airquality_data_for_selected_features[training_data_length:training_data_length+validation_data_length,:]
print(validation_data.shape)

testing_data = airquality_data_for_selected_features[training_data_length+validation_data_length: training_data_length+validation_data_length+testing_data_length,:]
print(testing_data.shape)

(8400, 20)
(1200, 20)
(2400, 20)

### Preprocess the data to a format a neural network can ingest.
- Normalising/Scaling data using minmax scaler in sklearn preprocessing for each dataset separately
- Generationg sequential data from the recent past (e.g 3hrs), along with a target pm2.5 value in the future (next day)  for the
  * training dataset
  * validation dataset
  * test dataset

In [327]:
def generate_dataset_in_format_lstm_can_ingest(data, look_back=1):
    x_data, y_data = [], []
    for i in range(len(data)-look_back-1):
        feature_data = data[i:(i+look_back), 0]
        x_data.append(feature_data)
        y_data.append(data[i + look_back, 0])
    return np.array(x_data), np.array(y_data)

In [328]:
## format series to supervised problem.. example obtained from machine learning mastery. Number of lag observations, number of observations as output
def generate_multivariate_dataset_in_format_lstm_can_ingest(data, number_of_inputs, number_of_outputs, dropnan=True):
    number_of_variables = 1 if type(data) is list else data.shape[1]
    data_frame= pd.DataFrame(data)
    columnsx, names = list(),list()
    #generate input sequence (t-n, ... t-1)
    for i in range(number_of_inputs, 0, -1):
        columnsx.append(data_frame.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(number_of_variables)]
       # forecast sequence (t, t+1, ... t+n)
    for i in range(0, number_of_outputs):
        columnsx.append(data_frame.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(number_of_variables)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(number_of_variables)]
            
    
    aggregated_df = pd.concat(columnsx, axis=1)
    aggregated_df.columns = names
    
    if dropnan:
        aggregated_df.dropna(inplace=True)
    return aggregated_df

### given data that goes back a number of timesteps e.g 3hrs, can we predict the next hour.

### training dataset

In [329]:
# reshape into X=t and Y=t+1 timesteps = lookback
timesteps = 1
number_of_features = 1
number_of_outputs = 1
transformed_training_data = generate_multivariate_dataset_in_format_lstm_can_ingest(training_data, timesteps, number_of_outputs)
# drop columns we don't want to predict...21 is pm2.5 we want to predict
transformed_training_data.drop(transformed_training_data.columns[[20,22,23, 24,25, 26,27, 28,29, 30,31,32,33, 34,35, 36,37,38,39,]], axis=1, inplace=True)
print(transformed_training_data.columns)

transformed_training_data_values = transformed_training_data.values
scaler = MinMaxScaler()
training_features =transformed_training_data_values[:, :-1]
scaled_training_features_original = scaler.fit_transform(training_features)
training_targets = transformed_training_data_values[:, -1]

scaled_training_features = np.reshape(scaled_training_features_original, 
                                      (scaled_training_features_original.shape[0], timesteps, scaled_training_features_original.shape[1]))
print(scaled_training_features.shape, training_targets.shape, scaled_training_features_original.shape )
transformed_training_data.head()

Index(['var1(t-1)', 'var2(t-1)', 'var3(t-1)', 'var4(t-1)', 'var5(t-1)',
       'var6(t-1)', 'var7(t-1)', 'var8(t-1)', 'var9(t-1)', 'var10(t-1)',
       'var11(t-1)', 'var12(t-1)', 'var13(t-1)', 'var14(t-1)', 'var15(t-1)',
       'var16(t-1)', 'var17(t-1)', 'var18(t-1)', 'var19(t-1)', 'var20(t-1)',
       'var2(t)'],
      dtype='object')
(8399, 1, 20) (8399,) (8399, 20)

,var1(t-1),var2(t-1),var3(t-1),var4(t-1),var5(t-1),var6(t-1),var7(t-1),var8(t-1),var9(t-1),var10(t-1),...,var12(t-1),var13(t-1),var14(t-1),var15(t-1),var16(t-1),var17(t-1),var18(t-1),var19(t-1),var20(t-1),var2(t)
1,11.27,15.52,40.13,18.0,0.2245,0.3999,73.0,0.0,87.50,0.9,...,0.44,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,20.51
2,14.87,20.51,54.50,19.0,0.2245,0.3999,77.0,0.0,87.58,0.0,...,0.38,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,29.18
3,20.77,29.18,70.89,20.0,0.2245,0.3999,80.0,0.0,87.67,0.0,...,0.37,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,31.99
4,22.54,31.99,81.10,21.0,0.2245,0.3999,82.0,0.0,87.66,0.0,...,0.34,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,31.85
5,22.37,31.85,78.94,22.0,0.2245,0.3999,87.0,0.0,87.68,0.0,...,0.29,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,32.23

In [330]:
transformed_training_data.head().T

                  1        2        3        4        5
var1(t-1)   11.2700  14.8700  20.7700  22.5400  22.3700
var2(t-1)   15.5200  20.5100  29.1800  31.9900  31.8500
var3(t-1)   40.1300  54.5000  70.8900  81.1000  78.9400
var4(t-1)   18.0000  19.0000  20.0000  21.0000  22.0000
var5(t-1)    0.2245   0.2245   0.2245   0.2245   0.2245
var6(t-1)    0.3999   0.3999   0.3999   0.3999   0.3999
var7(t-1)   73.0000  77.0000  80.0000  82.0000  87.0000
var8(t-1)    0.0000   0.0000   0.0000   0.0000   0.0000
var9(t-1)   87.5000  87.5800  87.6700  87.6600  87.6800
var10(t-1)   0.9000   0.0000   0.0000   0.0000   0.0000
var11(t-1)  23.2700  22.7200  22.2900  21.7100  20.8600
var12(t-1)   0.4400   0.3800   0.3700   0.3400   0.2900
var13(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var14(t-1)   0.0000   0.0000   0.0000   1.0000   0.0000
var15(t-1)   0.0000   1.0000   0.0000   0.0000   1.0000
var16(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var17(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var18(t-1)   1.0000   0.0000   1.0000   0.0000   0.0000
var19(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var20(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var2(t)     20.5100  29.1800  31.9900  31.8500  32.2300

### validation dataset

In [ ]:
transformed_validation_data = generate_multivariate_dataset_in_format_lstm_can_ingest(validation_data, timesteps, number_of_outputs)
transformed_validation_data.drop(transformed_validation_data.columns[[20,22,23, 24,25, 26,27, 28,29, 30,31,32,33, 34,35, 36,37,38,39,]], axis=1, inplace=True)
print(transformed_validation_data.columns)
##convert dataframe to array form
transformed_validation_data_values = transformed_validation_data.values
validation_features = transformed_validation_data_values[:, :-1]
validation_targets =  transformed_validation_data_values[:, -1]
scaled_validation_features_original = scaler.fit_transform(validation_features)
# reshape validation features to [samples, time steps, features]
scaled_validation_features = np.reshape(scaled_validation_features_original, 
                                      (scaled_validation_features_original.shape[0], timesteps, scaled_validation_features_original.shape[1]))

print(scaled_validation_features.shape, validation_targets.shape, scaled_validation_features_original.shape )
transformed_validation_data.head().T

Index(['var1(t-1)', 'var2(t-1)', 'var3(t-1)', 'var4(t-1)', 'var5(t-1)',
       'var6(t-1)', 'var7(t-1)', 'var8(t-1)', 'var9(t-1)', 'var10(t-1)',
       'var11(t-1)', 'var12(t-1)', 'var13(t-1)', 'var14(t-1)', 'var15(t-1)',
       'var16(t-1)', 'var17(t-1)', 'var18(t-1)', 'var19(t-1)', 'var20(t-1)',
       'var2(t)'],
      dtype='object')
(1199, 1, 20) (1199,) (1199, 20)

                  1        2        3        4        5
var1(t-1)   14.8700  20.7700  22.5400  22.3700  23.4600
var2(t-1)   20.5100  29.1800  31.9900  31.8500  32.2300
var3(t-1)   54.5000  70.8900  81.1000  78.9400  74.9000
var4(t-1)   19.0000  20.0000  21.0000  22.0000  23.0000
var5(t-1)    0.2477   0.2477   0.2477   0.2477   0.2477
var6(t-1)    0.4080   0.4080   0.4080   0.4080   0.4080
var7(t-1)   83.0000  86.0000  88.0000  86.0000  86.0000
var8(t-1)    0.0000   0.0000   0.0000   0.0000   0.0000
var9(t-1)   87.5500  87.5900  87.6500  87.7100  87.6900
var10(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var11(t-1)  20.8900  20.0200  19.7500  20.1600  19.6700
var12(t-1)   0.2700   0.2100   0.5200   0.5900   0.3700
var13(t-1)   0.0000   0.0000   1.0000   1.0000   0.0000
var14(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var15(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var16(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var17(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var18(t-1)   1.0000   0.0000   0.0000   0.0000   0.0000
var19(t-1)   0.0000   1.0000   0.0000   0.0000   1.0000
var20(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var2(t)     29.1800  31.9900  31.8500  32.2300  32.5300

### Testing dataset

In [ ]:
transformed_testing_data = generate_multivariate_dataset_in_format_lstm_can_ingest(testing_data,
                                                                                   timesteps, number_of_outputs)
transformed_testing_data.drop(
    transformed_testing_data.columns[[20,22,23, 24,25, 26,27, 28,29, 30,31,32,33, 34,35, 36,37,38,39,]], 
    axis=1, inplace=True)

print(transformed_testing_data.columns)

transformed_testing_data_values = transformed_testing_data.values
testing_features =  transformed_testing_data_values[:, :-1]
testing_targets =  transformed_testing_data_values[:, -1]

test_scaler = MinMaxScaler()
scaled_testing_features_original = test_scaler.fit_transform(testing_features)
# reshape testing features to [samples, timesteps, features]
scaled_testing_features = np.reshape(scaled_testing_features_original, 
                                      (scaled_testing_features_original.shape[0], timesteps, scaled_testing_features_original.shape[1]))

print(scaled_testing_features.shape, testing_targets.shape, scaled_testing_features_original.shape )
transformed_testing_data.head().T

Index(['var1(t-1)', 'var2(t-1)', 'var3(t-1)', 'var4(t-1)', 'var5(t-1)',
       'var6(t-1)', 'var7(t-1)', 'var8(t-1)', 'var9(t-1)', 'var10(t-1)',
       'var11(t-1)', 'var12(t-1)', 'var13(t-1)', 'var14(t-1)', 'var15(t-1)',
       'var16(t-1)', 'var17(t-1)', 'var18(t-1)', 'var19(t-1)', 'var20(t-1)',
       'var2(t)'],
      dtype='object')
(2399, 1, 20) (2399,) (2399, 20)

                  1        2        3        4        5
var1(t-1)   14.8700  20.7700  22.5400  22.3700  23.4600
var2(t-1)   20.5100  29.1800  31.9900  31.8500  32.2300
var3(t-1)   54.5000  70.8900  81.1000  78.9400  74.9000
var4(t-1)   19.0000  20.0000  21.0000  22.0000  23.0000
var5(t-1)    0.2680   0.2680   0.2680   0.2680   0.2680
var6(t-1)    0.4378   0.4378   0.4378   0.4378   0.4378
var7(t-1)   71.0000  73.0000  74.0000  78.0000  79.0000
var8(t-1)    0.0000   0.0000   0.0000   0.0000   0.0000
var9(t-1)   87.3900  87.4500  87.4800  87.4900  87.4700
var10(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var11(t-1)  23.4100  22.6700  22.1700  21.6200  21.4000
var12(t-1)   2.4200   2.0000   1.5800   1.1400   0.7600
var13(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var14(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var15(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var16(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var17(t-1)   0.0000   0.0000   0.0000   0.0000   1.0000
var18(t-1)   1.0000   1.0000   1.0000   1.0000   0.0000
var19(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var20(t-1)   0.0000   0.0000   0.0000   0.0000   0.0000
var2(t)     29.1800  31.9900  31.8500  32.2300  32.5300

### SUPPORT VECTOR REGRESSION APPROACH
- Training and evaluation on support vector regression approach

In [ ]:
from sklearn.svm import SVR
svr = SVR(kernel='rbf', degree=3, C=100, epsilon=0.1)
# fit the model by fitting the SVM regressor to the training data
svr.fit(scaled_training_features_original,training_targets.ravel())
svr_predictions = svr.predict(scaled_testing_features_original)
print(svr_predictions.shape)
print(svr_predictions)

C:\Users\DELL\Anaconda3\envs\airquality_prediction\lib\site-packages\sklearn\svm\base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

(2399,)
[64.4166017  85.03497034 90.97493932 ... 10.59233125  9.38320502
 13.0035257 ]

In [ ]:
svr_predictions = svr_predictions.reshape(-1, 1)
svr_predictions.shape

(2399, 1)

In [ ]:
scaled_testing_features_original.shape

(2399, 20)

### inverting the predictions and actual values from standardized form

svr_testing_predictions_unscaled = scaler.inverse_transform(svr_predictions)
#print(testing_data_unscaled.shape)
#restored_original_scaled_testing_data_shape.shape
#testing_targets_unscaled[0:5]

svr_testing_predictions_unscaled.ravel()
testing_targets.ravel()

In [ ]:
svr_predictions.ravel()

array([64.4166017 , 85.03497034, 90.97493932, ..., 10.59233125,
        9.38320502, 13.0035257 ])

In [ ]:
#svr_testing_predictions_unscaled = scaler.inverse_transform(svr_predictions)
svr_mae = mean_absolute_error(testing_targets, svr_predictions)
print('SVR MAE: ', svr_mae.round(2))
svr_rmse = calculate_rmse(testing_targets, svr_predictions)
print('SVR RMSE: ', svr_rmse.round(2))
svr_prediction_vs_actual_dataframe = pd.DataFrame({'Actual PM2.5': testing_targets.ravel(), 'Predicted PM2.5':svr_predictions.ravel()}) 
svr_prediction_vs_actual_dataframe

## save predictions by svr
svr_prediction_vs_actual_dataframe.to_csv(os.path.join(filepath , 'svr_predictions.csv'))

SVR MAE:  36.22
SVR RMSE:  40.76

### BASIC LSTM MODOEL
- Training and evaluating on basic lstm model with one layer

In [ ]:
scaled_training_features.shape[1], scaled_training_features.shape[2]

(1, 20)

In [ ]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense, LSTM
from tensorflow.keras.optimizers import RMSprop
from tensorflow.keras import backend
from tensorflow.keras.utils import plot_model
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
#from keras.models import load_model

def rmse(y_true, y_pred):
    return backend.sqrt(backend.mean(backend.square(y_pred - y_true)))

def root_mean_squared_error(y_true, y_pred):
        return backend.sqrt(backend.mean(backend.square(y_pred - y_true)))

model = Sequential()
model.add(LSTM(8, input_shape = (scaled_training_features.shape[1], scaled_training_features.shape[2]))) #timesteps, seq_length(no of features)
model.add(Dense(1))

callbacks_list = [
    EarlyStopping(  # interrupts training when improvement stops 
        monitor='val_loss', 
        patience=10, 
        mode='min'), 
    
   ModelCheckpoint( #saves the current weights after every epock
        filepath=os.path.join(filepath, 'basic_lstm_model.h5'),
        monitor='val_loss',save_best_only=True) # these 2 arguments mean , you won't overwrite the model file unless val_loss has improved which  allows you to keep the best model seen during training.
]

model.compile(optimizer='adam', loss='mse', metrics = ['mean_absolute_error', rmse])
basic_model_history = model.fit(scaled_training_features, training_targets, epochs=50,
                                validation_data=(scaled_validation_features, validation_targets),
                               callbacks=callbacks_list)

Train on 8399 samples, validate on 1199 samples
Epoch 1/50
8399/8399 [==============================] - 9s 1ms/step - loss: 414.7817 - mean_absolute_error: 16.9316 - rmse: 20.0967 - val_loss: 309.8929 - val_mean_absolute_error: 14.6601 - val_rmse: 17.4971
Epoch 2/50
8399/8399 [==============================] - 1s 112us/step - loss: 294.2638 - mean_absolute_error: 13.2343 - rmse: 16.8336 - val_loss: 239.5984 - val_mean_absolute_error: 12.8114 - val_rmse: 15.3779
Epoch 3/50
8399/8399 [==============================] - 1s 103us/step - loss: 242.8766 - mean_absolute_error: 11.6191 - rmse: 15.2519 - val_loss: 200.7076 - val_mean_absolute_error: 11.7810 - val_rmse: 14.0741
Epoch 4/50
8399/8399 [==============================] - 1s 117us/step - loss: 209.3264 - mean_absolute_error: 10.5688 - rmse: 14.1243 - val_loss: 172.3655 - val_mean_absolute_error: 11.0092 - val_rmse: 13.0452
Epoch 5/50
8399/8399 [==============================] - 1s 121us/step - loss: 184.5438 - mean_absolute_error: 9.8660 - rmse: 13.1832 - val_loss: 151.2681 - val_mean_absolute_error: 10.4822 - val_rmse: 12.2249
Epoch 6/50
8399/8399 [==============================] - 1s 124us/step - loss: 166.2032 - mean_absolute_error: 9.4443 - rmse: 12.4827 - val_loss: 135.7171 - val_mean_absolute_error: 10.0970 - val_rmse: 11.5836
Epoch 7/50
8399/8399 [==============================] - 1s 138us/step - loss: 152.9527 - mean_absolute_error: 9.1556 - rmse: 11.9410 - val_loss: 124.6200 - val_mean_absolute_error: 9.7771 - val_rmse: 11.1025
Epoch 8/50
8399/8399 [==============================] - 1s 148us/step - loss: 143.6333 - mean_absolute_error: 8.9444 - rmse: 11.5394 - val_loss: 116.9908 - val_mean_absolute_error: 9.5046 - val_rmse: 10.7575
Epoch 9/50
8399/8399 [==============================] - 1s 132us/step - loss: 137.2887 - mean_absolute_error: 8.7908 - rmse: 11.2697 - val_loss: 111.9267 - val_mean_absolute_error: 9.2969 - val_rmse: 10.5199
Epoch 10/50
8399/8399 [==============================] - 1s 124us/step - loss: 133.1677 - mean_absolute_error: 8.6929 - rmse: 11.1191 - val_loss: 108.6946 - val_mean_absolute_error: 9.1362 - val_rmse: 10.3631
Epoch 11/50
8399/8399 [==============================] - 1s 123us/step - loss: 130.4570 - mean_absolute_error: 8.6180 - rmse: 10.9840 - val_loss: 105.3597 - val_mean_absolute_error: 8.9483 - val_rmse: 10.2010
Epoch 12/50
8399/8399 [==============================] - 1s 109us/step - loss: 127.4519 - mean_absolute_error: 8.5005 - rmse: 10.8711 - val_loss: 101.6853 - val_mean_absolute_error: 8.7659 - val_rmse: 10.0209
Epoch 13/50
8399/8399 [==============================] - 1s 113us/step - loss: 118.7178 - mean_absolute_error: 8.0039 - rmse: 10.4564 - val_loss: 82.2633 - val_mean_absolute_error: 7.7887 - val_rmse: 9.0261
Epoch 14/50
8399/8399 [==============================] - 1s 118us/step - loss: 104.5335 - mean_absolute_error: 7.1072 - rmse: 9.7019 - val_loss: 66.6730 - val_mean_absolute_error: 6.7983 - val_rmse: 8.1344
Epoch 15/50
8399/8399 [==============================] - 1s 118us/step - loss: 92.5928 - mean_absolute_error: 6.3088 - rmse: 9.0379 - val_loss: 61.1513 - val_mean_absolute_error: 6.6088 - val_rmse: 7.7946
Epoch 16/50
8399/8399 [==============================] - 1s 115us/step - loss: 84.7144 - mean_absolute_error: 5.8850 - rmse: 8.5481 - val_loss: 57.6338 - val_mean_absolute_error: 6.4616 - val_rmse: 7.5673
Epoch 17/50
8399/8399 [==============================] - 1s 115us/step - loss: 78.2847 - mean_absolute_error: 5.5555 - rmse: 8.2055 - val_loss: 56.1273 - val_mean_absolute_error: 6.4463 - val_rmse: 7.4624
Epoch 18/50
1824/8399 [=====>........................] - ETA: 0s - loss: 83.0491 - mean_absolute_error: 5.5369 - rmse: 8.3264

In [ ]:
model.summary()

In [ ]:
basic_model_architecture_path = os.path.join(filepath, 'basic_model_plot.png')
plot_model(model, to_file=basic_model_architecture_path, show_shapes=False, show_layer_names=False)

In [ ]:
loss = basic_model_history.history['loss']
val_loss = basic_model_history.history['val_loss']

epochs = range(len(loss))

fig = plt.figure(figsize=(12,6))
ax = fig.add_subplot(111)

plt.plot(epochs, loss, 'bo', label='Training loss')
plt.plot(epochs, val_loss, 'r', label='Validation loss')
plt.title('Training and validation loss')
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.legend()
plt.show()

fig.savefig(os.path.join(filepath, 'basic_model_history_training_validation_loss.png'))

In [ ]:
print(np.argmin(val_loss))
#val_loss[70]

In [ ]:
hist_rmse = basic_model_history.history['rmse']
val_rmse = basic_model_history.history['val_rmse']
epochs = range(len(hist_rmse))

fig_rmse = plt.figure(figsize=(12,6))
ax_rmse= fig_rmse.add_subplot(111)

plt.plot(epochs, hist_rmse, 'bo', label='Training Root Mean Square Error')
plt.plot(epochs, val_rmse, 'r', label='Validation Root Mean Square Error')
plt.title('Training and Validation Root Mean Square Error')
plt.xlabel('Epochs')
plt.ylabel('RMSE')
plt.legend()

plt.show()
fig_rmse.savefig(os.path.join(filepath, 'basic_model_history_training_validation_RMSE.png'))

In [ ]:
mae = basic_model_history.history['mean_absolute_error']
val_mae = basic_model_history.history['val_mean_absolute_error']
epochs = range(len(mae))

fig_mae = plt.figure(figsize=(12,6))
ax_mae = fig_mae.add_subplot(111)

plt.plot(epochs, mae, 'bo', label='Training Mean Absolute Error')
plt.plot(epochs, val_mae, 'r', label='Validation Mean Absolute Error')
plt.title('Training and Validation Mean Absolute Error')
plt.xlabel('Epochs')
plt.ylabel('MAE')
plt.legend()

plt.show()
fig_mae.savefig(os.path.join(filepath, 'basic_model_history_training_validation_mae.png'))

In [ ]:
saved_model = load_model(os.path.join(filepath,'basic_lstm_model.h5'),  custom_objects={'rmse': rmse})

basic_lstm_model_train_evaluation = saved_model.evaluate(scaled_training_features, training_targets, verbose=0)
basic_lstm_model_test_evaluation = saved_model.evaluate(scaled_testing_features, testing_targets, verbose=0)
print(basic_lstm_model_train_evaluation)
print(basic_lstm_model_test_evaluation)

In [ ]:
basic_lstm_model_predictions = saved_model.predict(scaled_testing_features)
basic_lstm_model_evaluation =  saved_model.evaluate(scaled_testing_features, testing_targets)
print(basic_lstm_model_evaluation)
print(saved_model.metrics_names)

In [ ]:
### converting targets and predictions to from scaled values

basic_lstm_testing_targets_unscaled = scaler.inverse_transform(scaled_testing_targets)
basic_lstm_testing_predictions_unscaled = scaler.inverse_transform(basic_lstm_model_predictions)

In [ ]:
basic_lstm_rmse = calculate_rmse(testing_targets, basic_lstm_model_predictions)
basic_lstm_mae =  mean_absolute_error(testing_targets, basic_lstm_model_predictions)
print('BASIC LSTM RMSE: ', basic_lstm_rmse.round(2))
print('BASIC LSTM MAE: ', basic_lstm_mae.round(2))

In [ ]:
fig_basic_lstm_predictions_vs_actual = plt.figure(figsize=(12,6))
ax_fig_basic_lstm_predictions_vs_actual = fig_basic_lstm_predictions_vs_actual.add_subplot(111)
plt.plot(testing_targets, color = 'red', label = 'Actual PM2.5 Values')
plt.plot(basic_lstm_model_predictions, color = 'blue', label = 'Predicted PM2.5 Values')
plt.title('Predicted PM2.5  Vs Actual PM2.5 ')
plt.xlabel('PM2.5 Records')
plt.ylabel('PM2.5 Values')
plt.legend()

fig_basic_lstm_predictions_vs_actual.savefig(os.path.join(filepath, 'basic_lstm_model_prediction_vs_actual.png'))

In [ ]:
print(basic_lstm_model_predictions.shape)
print(basic_lstm_model_predictions.ravel().shape)

In [ ]:
basic_lstm_model_prediction_vs_actual_dataframe = pd.DataFrame({'Actual PM2.5': testing_targets.ravel(), 'Predicted PM2.5':basic_lstm_model_predictions.ravel()}) 
basic_lstm_model_prediction_vs_actual_dataframe
## save predictions by basic lstm model
basic_lstm_model_prediction_vs_actual_dataframe.to_csv(os.path.join(filepath , 'basic_lstm_model_predictions.csv'))

### Creation of Neural Network Architecture,Training & Evaluation  on Stacked LSTM and DROPOUT layers

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout
from tensorflow.keras.utils import plot_model

deep_lstm_callbacks_list = [
    EarlyStopping(  # interrupts training when improvement stops 
        monitor='val_loss', 
        patience=10, 
        mode='min'), 
    
   ModelCheckpoint( #saves the current weights after every epock
        filepath=os.path.join(filepath, 'deep_lstm_best_model.h5'),
        monitor='val_loss',save_best_only=True) # these 2 arguments mean , you won't overwrite the model file unless val_loss has improved which  allows you to keep the best model seen during training.
]

regressor_model = Sequential()
regressor_model.add(LSTM(units=8, return_sequences = True, input_shape = (scaled_training_features.shape[1],scaled_training_features.shape[2])))
regressor_model.add(Dropout(0.2))
number_of_features
regressor_model.add(LSTM(units = 4, return_sequences = True))
regressor_model.add(Dropout(0.1))
regressor_model.add(LSTM(units = 4))
#regressor_model.add(Dropout(0.2))

regressor_model.add(Dense(units = 1))

regressor_model.compile(optimizer = 'adam', loss = 'mse',metrics = ['mean_absolute_error',rmse] )

##Training the model
history = regressor_model.fit(scaled_training_features, training_targets,epochs = 100,
                              validation_data=(scaled_validation_features, validation_targets), batch_size=32,
                              callbacks=deep_lstm_callbacks_list)

In [ ]:
#regressor_model.save('/content/drive/My Drive/Uni/Msc Comp Science/Year Two/Research/experiments/data/AirQuality/AirQo/airquality_prediction_bugolobi_04_20_2019.h5')
regressor_model.save(os.path.join(filepath,'airquality_prediction_model.h5'))
regressor_model.summary()
regressor_model_architecture_path = os.path.join(filepath, 'deep_lstm_model_plot.png')
plot_model(regressor_model, to_file=regressor_model_architecture_path, show_shapes=False, show_layer_names=False)

In [ ]:
loss = history.history['loss']
val_loss = history.history['val_loss']

epochs = range(len(loss))

fig_deep_lstm_loss= plt.figure(figsize=(12,6))
ax = fig_deep_lstm_loss.add_subplot(111)

plt.plot(epochs, loss, 'bo', label='Training loss')
plt.plot(epochs, val_loss, 'r', label='Validation loss')
plt.title('Training and validation loss')
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.legend()

plt.show()

fig_deep_lstm_loss.savefig(os.path.join(filepath, 'deep_lstm_model_history_training_validation_loss.png'))

In [ ]:
mae = history.history['mean_absolute_error']
val_mae = history.history['val_mean_absolute_error']
epochs = range(len(mae))

fig_deep_lstm_mae = plt.figure(figsize=(12,6))
ax_mae = fig_deep_lstm_mae.add_subplot(111)

plt.plot(epochs, mae, 'bo', label='Training Mean Absolute Error')
plt.plot(epochs, val_mae, 'r', label='Validation Mean Absolute Error')
plt.title('Training and Validation Mean Absolute Error')
plt.xlabel('Epochs')
plt.ylabel('MAE')
plt.legend()

plt.show()
fig_mae.savefig(os.path.join(filepath, 'deep_lst_mmodel_history_training_validation_mae.png'))

In [ ]:
hist_rmse = history.history['rmse']
val_rmse = history.history['val_rmse']
epochs = range(len(hist_rmse))

fig_rmse = plt.figure(figsize=(12,6))
ax_rmse= fig_rmse.add_subplot(111)

plt.plot(epochs, hist_rmse, 'bo', label='Training Root Mean Squared Error')
plt.plot(epochs, val_rmse, 'r', label='Validation Root Mean Squared Error')
plt.title('Training and Validation Root Mean Squared Error')
plt.xlabel('Epochs')
plt.ylabel('RMSE')
plt.legend()

plt.show()
fig_rmse.savefig(os.path.join(filepath, 'deep_model_history_training_validation_RMSE.png'))

### Making predictions (forecasts) using the deep recurrent lstm
1. Convert test set in the same format accepted by model
1. make the forecasts directly on the testing dataset

### Make prediction and evaluation using the developed deep lstm model

In [ ]:
#saved_best_deep_lstm_model = load_model(os.path.join(filepath,'deep_lstm_best_model.h5'),  custom_objects={'rmse': rmse})
saved_best_deep_lstm_model = load_model(os.path.join(filepath,'airquality_prediction_model.h5'),  custom_objects={'rmse': rmse})
deep_lstm_model_train_evaluation = saved_best_deep_lstm_model.evaluate(scaled_training_features, training_targets, verbose=0)
deep_lstm_model_test_evaluation = saved_best_deep_lstm_model.evaluate(scaled_testing_features, testing_targets, verbose=0)
print(deep_lstm_model_train_evaluation)
print(deep_lstm_model_test_evaluation)

In [ ]:
deep_lstm_model_predictions = saved_best_deep_lstm_model.predict(scaled_testing_features)
deep_lstm_model_evaluation =  saved_best_deep_lstm_model.evaluate(scaled_testing_features, testing_targets)

deep_lstm_rmse = calculate_rmse(testing_targets, deep_lstm_model_predictions )
deep_lstm_mae =  mean_absolute_error(testing_targets, deep_lstm_model_predictions)
print('Deep LSTM RMSE: ', deep_lstm_rmse.round(2))
print('Deep LSTM MAE: ', deep_lstm_mae.round(2))

deep_lstm_model_prediction_vs_actual_dataframe = pd.DataFrame({'Actual PM2.5':testing_targets.ravel(), 'Predicted PM2.5':deep_lstm_model_predictions.ravel()}) 
deep_lstm_model_prediction_vs_actual_dataframe
## save predictions by basic lstm model
deep_lstm_model_prediction_vs_actual_dataframe.to_csv(os.path.join(filepath , 'deep_lstm_model_predictions.csv'))

### Verification of the average in the results of the forecasts and in the actual results

In [ ]:
print('predictions', deep_lstm_model_predictions.mean())
print('actual pm2.5 values', testing_targets.mean())

### Visualization of the predictions and actual values of PM2.5
1. #### using line graph

#added timestep to cater for the shifted records which get droped for having nan values
testing_data_for_plotting =airquality_data_copy.loc[training_data_length+validation_data_length+timesteps: training_data_length+validation_data_length+testing_data_length,:]
print(testing_data_for_plotting.shape)
testing_data_for_plotting.head()

In [ ]:
deep_lstm_model_predictions.shape

In [ ]:
fig_deep_lstm_predictions_vs_actual = plt.figure(figsize=(12,6))
ax_fig_deep_lstm_predictions_vs_actual = fig_deep_lstm_predictions_vs_actual.add_subplot(111)
plt.plot(testing_targets, color = 'red', label = 'Actual PM2.5 Values')
plt.plot(deep_lstm_model_predictions, color = 'blue', label = 'Predicted PM2.5 Values')
plt.title('Predicted PM2.5  Vs Actual PM2.5 ')
plt.xlabel('PM2.5 Records')
plt.ylabel('PM2.5 Values')
plt.legend()

fig_deep_lstm_predictions_vs_actual.savefig(os.path.join(filepath, 'deep_lstm_model_prediction_vs_actual.png'))

In [ ]:
sns.set_context('talk')
sns.set_style('ticks')
sns.set_palette('dark')
fig_deep_lstm_predictions_vs_actual_scatter = plt.figure(figsize=(8,6))
ax_fig_deep_lstm_predictions_vs_actual_scatter = fig_deep_lstm_predictions_vs_actual_scatter.add_subplot(111)
ax = ax_fig_deep_lstm_predictions_vs_actual_scatter
# we are going to use y_test, y_test_pred
ax.scatter(testing_targets, deep_lstm_model_predictions, alpha=.3)

ax.set(xlabel='Actual Values', 
       ylabel='Predictions',
       title='PM2.5 Predictions vs Actual Values');

fig_deep_lstm_predictions_vs_actual_scatter.savefig(os.path.join(filepath, 'deep_lstm_model_predictions_vs_actual_values_scatter.png'))

### saving results to file

In [ ]:
with open(os.path.join(filepath, "results_summary.txt"), "w+") as text_file:
        print("SVR RMSE : {}\n SVR MAE : {} \n Basic LSTM RMSE: {} \n Basic LSTM MAE: {} \n Basic LSTM Evaluation Results: {} \n Deep LSTM RMSE : {} \n Deep LSTM MAE: {} \n Deep LSTM Evaluation Results: {}, \n metrics {}"
              .format(svr_rmse.round(2),svr_mae.round(2),  basic_lstm_rmse.round(2), basic_lstm_mae.round(2), basic_lstm_model_evaluation,
                      deep_lstm_rmse.round(2), deep_lstm_mae.round(2),  deep_lstm_model_evaluation, model.metrics_names ), file=text_file)